apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: test-argo-flow
spec:
  rules:
  - host: "foo.com"
    http:
      paths:
      - pathType: Prefix
        path: "/bar"
        backend:
          service:
            name: guestbook-ui
            port:
              number: 80
